In [70]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import pymysql
pymysql.install_as_MySQLdb()

### Store Latitude and Longitude from CSV into DataFrame

In [71]:
csv_file = "Raw_Data/geo_data/winery-lat-lng-final.csv"
winery_geo_df = pd.read_csv(csv_file, encoding = 'utf8')
winery_geo_df.head(10)

                winery   latitude   longitude
0              Nicosia  35.185566   33.382276
1  Quinta dos Avidagos  41.387690   -7.276865
2            Rainstorm  40.089829  -88.248177
3           St. Julian  40.015971 -105.282767
4         Sweet Cheeks  42.343904  -71.101100
5               Tandem  36.358159  -94.213735
6      Terre di Giurfo  37.111291   14.632700
7             Trimbach  48.194905    7.326016
8   Jean-Baptiste Adam  48.126568    7.283714
9   Kirkland Signature  47.681243 -122.181894

### Connect to the local winery_db database

In [72]:
conn_string = "mysql://root:{password}@localhost:3306/winery_db"
engine = create_engine(conn_string)

### Check for tables

In [73]:
engine.table_names()

['coordinates']

### Clean the Latitude and Longitude data

In [76]:
# Round the latitude and longitude to 5 decimals
winery_geo_df['latitude'] = round(winery_geo_df['latitude'],5)
winery_geo_df['longitude'] = round(winery_geo_df['longitude'],5)
winery_geo_df.head()

                winery  latitude  longitude
0              Nicosia  35.18557   33.38228
1  Quinta dos Avidagos  41.38769   -7.27687
2            Rainstorm  40.08983  -88.24818
3           St. Julian  40.01597 -105.28277
4         Sweet Cheeks  42.34390  -71.10110

### Use pandas to load DataFrame into database

In [77]:
winery_geo_df.to_sql(name='coordinates', con=engine, if_exists='append', index=False)

### Confirm data has been added to database by querying the winery_db

In [78]:
pd.read_sql_query('select * from coordinates', con=engine).head()

   ID               winery  latitude  longitude
0   1              Nicosia  35.18557   33.38228
1   2  Quinta dos Avidagos  41.38769   -7.27687
2   3            Rainstorm  40.08983  -88.24818
3   4           St. Julian  40.01597 -105.28277
4   5         Sweet Cheeks  42.34390  -71.10110